<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <!--Custom CSS design-->
  <!-- Header-->
  <link rel="stylesheet" href="/styles/header.css">
  <!-- Homepage-->
  <link rel="stylesheet" href="/styles/homepage.css">
  <!-- footer-->
  <link rel="stylesheet" href="/styles/footer.css">
  <script src="https://kit.fontawesome.com/dd66a066a2.js" crossorigin="anonymous"></script>
</head>
<body>
  <head>
    <%- include('partials/header') %>
  </head>
 <section class="main-hero">
  <div class="main-text">
    <h1> Welcome to WikiMaps - A website for new maps</h1>
    <table class="map-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for (let id in maps) { %>
          <tr>
            <td><%= maps[id].name %></td>
            <td><%= maps[id].description %></td>
            <form method="GET" action="/map/<%= maps[id].id %>">
              <td><button class="table-button">Go</button></td>
            </form>
            <form method="GET" action="createMap/delete/<%= maps[id].id %>">
              <td><button class="table-button" id="delete">Delete</button></td>
            </form>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  </section>
    <%- include('partials/footer') %>
</body>

</html>
