<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map</title>
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/map.css">
  <script src="https://kit.fontawesome.com/dd66a066a2.js" crossorigin="anonymous"></script>
</head>
<%- include('partials/header') %>
<body>
  <div class="viewport">
    <div class="side_nav">
      <div class="marker_nav">
        <!-- Loops through the markers to print off the nodes on the left hand side of the map -->
        <% for(marker in markers) {%>
          <div>
            <div class="text_information">
              <p><%= markers[marker].title %></p>
              <p><span><%= markers[marker].description %></span></p>
            </div>
            <!-- if else  -->
            <% if (user) { %>
            <div class="edit_delete">
              <form method="GET" action="<%= markers[marker].id %>/editMarker">
                <button>Edit</button>
              </form>
              <form method="GET" action="<%= markers[marker].id %>/deleteMarker">
                <button>Delete</button>
              </form>
            </div>
            <% } else { %>
          <% } %>
        </div>
       <% } %>
      </div>
      <div class="create_marker">
        <% if (user) { %>
        <p>Create A Marker</p>
        <form method="GET" action="<%= map[0].id %>/addMarker">
          <label>Name: <input type="text" name="name"></label>
          <label>Description: <input type="text" name="description"></label>
          <label>Image URL: <input type="text" name="image_url"></label>
          <label>Latitude: <input type="text" name="latitude"></label>
          <label>Longitude: <input type="text" name="longitude"></label>
          <button>Add</button>
        </form>
        <% } else { %>
          <p>
            To create a marker, please login
          </p>
          <% } %>
      </div>
    </div>
    <div id="map"></div>
  </div>
  <!-- This script is designed to initialize the map -->
  <script>
    // Retrieve the maps lat and lng from the JSON sent through the POST
    const lat = <%= map[0].latitude %>;
    const long = <%= map[0].longitude %>;

    // Convert the marker JSON data so that it can be iterated through easily.
    let markerData = JSON.parse('<%-JSON.stringify(markers)%>');

    // This function is used to initialize the map using the Google Maps API
    function initMap(){

      // These are map options. The lat and long variable created from the JSON will be passed in here to center the map on those coordinates
      let options = {
        zoom: 12,
        center: {lat: lat, lng: long}
      }

      // The map needs to be created using the Google Maps API, in here we are also finding the <div id="map"> from above to allow it to be displayed on the div that corresponds to the element ID
      let map = new google.maps.Map(document.getElementById('map'), options);

      // We loop through the marker data to load any markers that exist for the current map.
      for (markers in markerData) {

        // This is the information passed in to form the html within the infoWindow
        const content = `<h3>${markerData[markers].title}</h3><img src=${markerData[markers].image_url} alt=${markerData[markers].title} width='300'>`;

        // Passing in the lat and long of the markers and the content for the infoWindow
        addMarker({lat: parseFloat(markerData[markers].latitude), lng: parseFloat(markerData[markers].longitude)}, content);
      }

      // This function was created to make adding markers easier. It takes in the coordinates of the marker, as well as the content that needs to be displayed in the infoWindow
      function addMarker(coords, content){

        // Using Google Maps API to create a marker. You need to set the position using lat and long coords and set what map they belong to
        let marker = new google.maps.Marker({
          position: coords,
          map: map
        })

        // Using Google Maps API to create an infoWindow. These are information windows that can be used when you click on a marker. These use HTML format.
        let infoWindow = new google.maps.InfoWindow({
        content: content
        })

        // Markers need a listener so that it knows when you click on it to open the infoWindow
        marker.addListener('click', function(){
        infoWindow.open(map, marker);
        })
      }
    }
  </script>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyx9AbptmMmtS7aQYtOxVJDalv7Z-aHA&callback=initMap">
  </script>
</body>
</html>
