<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Profile</title>
      <!--Custom CSS design-->
      <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
      <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
      <!-- Header-->
      <link rel="stylesheet" href="/styles/header.css">
      <!-- Profile Page-->
      <link rel="stylesheet" href="/styles/profile.css">
      <script src="https://kit.fontawesome.com/dd66a066a2.js" crossorigin="anonymous"></script>
    </head>

    <body>
      <%- include('partials/header') %>
      <main class="container">
        <h2 class="title">My Maps</h2><hr>
        <table class="table table-borderless table-hover">

          <tbody>
            <% for (let id in maps) { %>
              <tr>
                <td><%= maps[id].name %></td>
                <td><%= maps[id].description %></td>
                <form method="GET" action="/map/<%= maps[id].id %>">
                  <td><button class="table-button">Go</button></td>
                </form>
                <form method="GET" action="createMap/delete/<%= maps[id].id %>">
                  <td><button class="table-button" id="delete">Delete</button></td>
                </form>
              </tr>
            <% } %>
          </table>

          <h2 class="title">Favourites</h2><hr>
          <table class="table table-borderless table-hover"></table>
          <% for (let id in maps) { %>
            <tr>
              <td><%= maps[id].name %></td>
              <td><%= maps[id].description %></td>
              <form method="GET" action="/map/<%= maps[id].id %>">
                <td><button class="table-button">Go</button></td>
              </form>
              <form method="GET" action="createMap/delete/<%= maps[id].id %>">
              </form>
            </tr>
          <% } %>

          <!--Scripts-->
          <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
        </body>
</html>
